# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../:\TestSpace\spring4-mvc-gradle-xml-hello-world-master\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
